@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

h1 {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

h2 {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
  }

P {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

a {
  color:#448EE4;
  
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover { color: skyblue; }

details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
