@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

h1 {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

h2 {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
  }

P {
  color: whitesmoke;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  margin-top: 2%;
}

a {
  color:#448EE4;
  
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover { color: skyblue; }

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: white;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 
